<footer class='py-3 fixed-bottom bg-light text-muted text-center'>
    <div class="container d-flex justify-content-between">
        <span class="copyright">© 2022</span>
        <ul class='list-inline mb-0'>
            <li class='list-inline-item'>
                <a href='#' target='_blank'>Link</a>
            </li>
            <li class='list-inline-item'>
                <a href='#' target='_blank'>Link</a>
            </li>
            <li class='list-inline-item'>
                <a href='#' target='_blank'>Link</a>
            </li>
        </ul>
    </div>
</footer>